body{
    /*background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    */
    background-image: url('../images/bg-purple.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image: url('../images/pattern.png');*/

    height: 100vh;
}

.content{
    
}